/*-- scss:rules --*/

div.sourceCode {
    background-color: #e0e0e0;
    border: 1px solid 	#4B0082;
    border-radius: 0.25rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure {
  text-align: center;
}